@import url("https://fonts.googleapis.com/css?family=Nunito|Lacquer");
/* body {
  margin-left: auto; margin-right: 0em; margin-top: 0em;
  /* font-family: Arial, Helvetica, sans-serif; */
} */


/* RECTANGLE */
.rectangle-box {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #4CAF50;
  border-top: 10px solid  rgb(238, 238, 238);
  border-bottom: 10px solid  rgb(238, 238, 238);
}
.rectangle-box:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.rectangle-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 30px;
  font-style: italic;
  font-family:blackliht;
}
.rectangle-content div {
  display: table;
  width: 100%;
  height: 100%;
}
.rectangle-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}






#blog-contianer{max-width: 1200px; height:100%;   background-color:rgb(238, 238, 238);
margin:auto;  align-self: center;}

#font-date {color: #008080; margin-left: 20px;
}
.article-font{ margin-left: 20px;   padding-top: 2px;
    padding-left: 0px;


}
.button-blog{ background-color: #4CAF50;
    border: none; height: 2em; 
    text-color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  }
    
    
/* CREATING A TAG        */
:root {
    --color-text: #FFF;
    --color-front: #4CAF50;;
    --color-back: #4CAF50;;
  }
  
  .tag {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
    background: var(--color-front);
    padding: 6px 20px;
    margin: 0 8px;
    font-weight: 600;
    font-size: 12px;
    color: var(--color-text);
    transition: clip-path 500ms;
  }
  
  .tag:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: var(--color-back);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
  }
  
  .tag:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  }
  
  .tag:hover:after {
    transform: translate(-100%, -100%);
  }



  .tag2 {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    /* clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px); */
    background: var(--color-front);
    padding: 2px 2px;
    margin: 0 0px;
    font-weight: 6;
    font-size: 10px;
    color: var(--color-text);
    /* transition: clip-path 500ms; */
    width: 500 px;
    height:20px
  }
  

  .button23 {
    position:absolute;
    background-color:#4CAF50;
    border-radius: 50px;
    border:none;
    color: white; 
    padding: 6px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    height:25px;
    width:110px;
    /* margin-left: 200px; */
    /* margin-top: 70px; */
    /* z-index: 90; */
    cursor: pointer; 
    bottom:10px;
    /* margin-top: 4em;  */
   
  } 



  .button23:hover{
    background:#fff;
    color:#4CAF50;
  }
  .button23:before,button23:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #4CAF50;
    transition:400ms ease all;
  }
  .button23:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button23:hover:before,button23:hover:after{
    width:90%;
    transition:800ms ease all;
  }
  

  /* .tag2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    background: var(--color-back);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
  }
  
  .tag2:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  }
  
  .tag2:hover:after {
    transform: translate(-100%, -100%);
  } */
