

:root {
  --color: #000000;
  --transition-time: 0.5s;
}


a {
  color: inherit;
}

.cards_2023-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card_2023 {

  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),
  rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 11em;
  width: 17.5em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em rgb(238, 238, 238);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 5px solid #ffffff;
  text-decoration: none;
}

.card_2023:hover {
  transform: rotate(0);
}

.card_2023 h3 {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.2em;
}

.card_2023 p {
  font-size: 0.6em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card_2023 .tags {
  display: flex;
}

.card_2023 .tags .tag {
  font-size: 0.6em;
  background: rgb(238, 238, 238);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card_2023:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card_2023 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card_2023:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card_2023:before {
  background: rgb(238, 238, 238);
  width: 250%;
  height: 250%;
}

.card_2023:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card_2023:hover {
  color: var(--color);
}

.card_2023:hover:before, .card_2023:hover:after {
  transform: scale(1);
}

.card_2023-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info_2023 {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards_2023-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card_2023-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card_2023 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h3 {
    margin: 0;
  }
}






   
/* CREATING A TAG        */
:root {
    --color-text: #FFF;
    --color-front: #4CAF50;;
    --color-back: #4CAF50;;
  }
  
  .tag {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
    background: var(--color-front);
    padding: 6px 20px;
    margin: 0 8px;
    font-weight: 600;
    font-size: 12px;
    color: var(--color-text);
    transition: clip-path 500ms;
  }
  
  .tag:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: var(--color-back);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
  }
  
  .tag:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  }
  
  .tag:hover:after {
    transform: translate(-100%, -100%);
  }



  .tag {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    /* clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px); */
    background: var(--color-front);
    padding: 2px 2px;
    margin: 0 0px;
    font-weight: 6;
    font-size: 10px;
    color: var(--color-text);
    /* transition: clip-path 500ms; */
    width: 500 px;
    height:20px
  }
  


  .button22 {
    background-color:#4CAF50;
    border-radius: 50px;
    border:none;
    color: white; 
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 40px;
    cursor: pointer; 
   
  } 

  .button22 a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
    /* border-radius: 4rem; */
   
  }


  .button22{
    background:#4CAF50;
    color:#fff;
    border:none;
    position:relative;
    height:25px;
    width:120px;
    text-align: center;
    padding:0em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-top: -10em;
  }
  
  .button22:hover{
    background:#fff;
    color:#4CAF50;
  }
  .button22:before,button22:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #4CAF50;
    transition:400ms ease all;
  }
  .button22:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button22:hover:before,button22:hover:after{
    width:90%;
    transition:800ms ease all;
  }
  